/* ========================================= */
/* RESET GERAL */
/* ========================================= */

/* remove margens e espaçamentos padrões */
*{
  margin: 0;
  padding: 0;

  /* facilita controle de largura */
  box-sizing: border-box;
}
.header-petshop{

  position: sticky;

  top: 0;

  z-index: 1000;

}

/* ========================================= */
/* BODY */
/* ========================================= */

body{
  background-image:
  radial-gradient(circle at top left, #ffffff 0%, transparent 25%),
  radial-gradient(circle at bottom right, #ffe7d6 0%, transparent 25%);

  font-family: 'Poppins', sans-serif;



  /* fonte principal */
  font-family: Arial, Helvetica, sans-serif;

  /* fundo geral do site */
  background-color: #F5F1E8;

}


/* ========================================= */
/* TEXTOS */
/* ========================================= */

p{

  /* cor padrão dos textos */
  color: #555555;

  /* altura entre linhas */
  line-height: 1.7;
}


/* ========================================= */
/* TITULOS */
/* ========================================= */

h1, h2, h3{

  /* verde principal */
  color: #2F5D50;

}


/* ========================================= */
/* HEADER */
/* ========================================= */

.header-petshop{

  /* fundo verde */
  background-color: #2F5D50;

  /* espaço interno */
  padding: 15px 0;

  /* sombra suave */
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);

}


/* ========================================= */
/* LOGO */
/* ========================================= */

.logo-petshop{

  /* imagem e texto lado a lado */
  display: flex;

  /* centraliza verticalmente */
  align-items: center;

  /* espaço entre itens */
  gap: 12px;

  /* remove linha do link */
  text-decoration: none;

}


/* IMAGEM LOGO */

.logo-petshop img{

  /* largura da logo */
  width: 50px;

}


/* TEXTO LOGO */

.logo-petshop span{

  color: white;

  font-size: 1.5rem;

  font-weight: bold;

}


/* ========================================= */
/* LINKS MENU */
/* ========================================= */

.nav-link{

  color: white;

  font-weight: 500;

  margin-left: 15px;

  transition: 0.3s;

}


/* HOVER LINKS */

.nav-link:hover{

  /* laranja claro */
  color: #FF914D;

  transform: translateY(-2px);

}


/* ========================================= */
/* BOTÃO AGENDAR */
/* ========================================= */

.btn-agendar{

  /* fundo laranja */
  background-color: #FF914D;

  /* texto branco */
  color: white;

  /* remove borda */
  border: none;

  /* espaçamento interno */
  padding: 12px 25px;

  /* arredonda */
  border-radius: 30px;

  /* negrito */
  font-weight: bold;

  /* cursor mãozinha */
  cursor: pointer;

  /* animação suave */
  transition: 0.3s;

}


/* HOVER BOTÃO */

.btn-agendar:hover{

  /* laranja mais escuro */
  background-color: #E67E3D;

  /* aumenta levemente */
  transform: scale(1.05);

}


/* ========================================= */
/* HERO SECTION */
/* ========================================= */

.hero-petshop{

  /* espaço vertical */
  padding: 100px 0;

  /* fundo bege */
  background-color: #F5F1E8;

}


/* TITULO HERO */

.hero-texto h1{

  font-size: 3.2rem;

  font-weight: bold;

  margin-bottom: 20px;

}


/* TEXTO HERO */

.hero-texto p{

  font-size: 1.1rem;

  margin-bottom: 30px;

}


/* BENEFÍCIOS */

.hero-beneficios{

  /* coloca lado a lado */
  display: flex;

  /* espaço */
  gap: 15px;

  /* quebra no celular */
  flex-wrap: wrap;

}


/* CADA BENEFÍCIO */

.hero-beneficios span{

  /* fundo branco */
  background-color: white;

  /* espaço interno */
  padding: 10px 18px;

  /* arredonda */
  border-radius: 30px;

  /* sombra */
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);  

}


/* IMAGEM HERO */

.hero-imagem img{

  width: 660px;
  height: 600px;
  /* bordas arredondadas */
  border-radius: 30px;

  /* sombra */
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);

}


/* ========================================= */
/* SERVIÇOS */
/* ========================================= */

.servicos{

  padding: 80px 10%;

  text-align: center;

}


/* TITULO */

.servicos h2{

  font-size: 2.5rem;

  margin-bottom: 50px;

}


/* CONTAINER CARDS */

.cards-servicos{

  display: flex;

  justify-content: center;

  gap: 30px;

  flex-wrap: wrap;

}


/* CARD */

.card-servico{

  width: 380px;

  background-color: white;  

  border-radius: 25px;

  overflow: hidden;

  box-shadow: 0 8px 20px rgba(0,0,0,0.08);

  transition: 0.3s;

}


/* HOVER CARD */

.card-servico:hover{

  transform: translateY(-10px);

}


/* IMAGEM CARD */

.card-servico img{

  width: 100%;

  height: 220px;

  object-fit: cover;

}


/* TITULO CARD */

.card-servico h3{

  margin-top: 20px;

  font-size: 1.8rem;

}


/* TEXTO CARD */

.card-servico p{

  padding: 15px;

}


/* BOTÃO CARD */

.card-servico button{

  background-color: #FF914D;

  color: white;

  border: none;

  padding: 12px 25px;

  border-radius: 12px;

  margin-bottom: 25px;

  cursor: pointer;

  transition: 0.3s;

}


/* HOVER BOTÃO CARD */

.card-servico button:hover{

  background-color: #E67E3D;

  transform: scale(1.05);

}


/* ========================================= */
/* CARROSSEL */
/* ========================================= */

.carrossel-petshop{

  padding-bottom: 50px;

}


/* ITEM */

.carousel-item{

  height: 600px;

  overflow: hidden;

  border-radius: 30px;

}


/* IMAGEM */

.imagem-carrossel{

  width: 80%;

  height: 500px;

  object-fit: cover;

  display: block;

  margin: auto;

  border-radius: 30px;

}


/* LEGENDA */

.carousel-caption{

  background-color: rgba(255,255,255,0.95);

  padding: 30px;

  border-radius: 25px;

  max-width: 550px;

  margin: auto;

  bottom: 50px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.15);

}


/* TEXOS */

.carousel-caption h2{

  font-size: 2rem;

}

.carousel-caption p{

  font-size: 1rem;

}


/* SETAS */

.carousel-control-prev-icon,
.carousel-control-next-icon{

  background-color: rgba(0,0,0,0.5);

  border-radius: 50%;

  padding: 20px;

}


/* ========================================= */
/* FOOTER */
/* ========================================= */

.footer-petshop{

  background-color: #2F5D50;

  padding: 40px 20px;

  text-align: center;

}


/* TITULO FOOTER */

.footer-petshop h3{

  color: white;

  font-size: 2rem;

  margin-bottom: 15px;

}


/* TEXTO FOOTER */

.footer-petshop p{

  color: #d9f5f6;

  margin-bottom: 20px;

}


/* CONTATO */

.footer-contato{

  display: flex;

  justify-content: center;

  gap: 25px;

  flex-wrap: wrap;

  margin-bottom: 20px;

  color: white;

}


/* COPYRIGHT */

.footer-petshop small{

  color: #d9f5f6;

}


/* ========================================= */
/* MODAL */
/* ========================================= */

.modal-content{

  border-radius: 25px;

  border: none;

}


/* HEADER MODAL */

.modal-header{

  background-color: #2F5D50;

  color: white;

}


/* BODY MODAL */

.modal-body{

  padding: 30px;

}


/* INPUTS */

.form-control,
.form-select{

  padding: 12px;

  border-radius: 12px;

}


/* FOOTER MODAL */

.modal-footer{

  border-top: none;

}


/* BOTÃO MODAL */

.btn-modal{

  background-color: #FF914D;

  color: white;

  border: none;

  padding: 12px 25px;

  border-radius: 30px;

  font-weight: bold;

  transition: 0.3s;

}


/* HOVER BOTÃO */

.btn-modal:hover{

  background-color: #E67E3D;

}





/* ========================================= */
/* PAGINA SERVIÇOS MODERNA */
/* ========================================= */
.banner-servicos h1{
  margin-top: 40px;
  display: flex;
  justify-content: center ;
}
.banner-servicos h3{
 margin-top: 40px;
  color: #2F5D50;
  display: flex;
  justify-content: center ;
}
.pagina-servicos{

  padding: 80px 0;

}


/* CARD */

.card-servico-moderno{

  background-color: white;

  border-radius: 30px;

  overflow: hidden;

  box-shadow: 0 10px 25px rgba(0,0,0,0.08);

  transition: 0.4s;

  height: 100%;

}


/* HOVER */

.card-servico-moderno:hover{

  transform: translateY(-10px);

  box-shadow: 0 15px 35px rgba(0,0,0,0.15);

}


/* IMAGEM */

.card-servico-moderno img{

 
  width: 100%;

  height: 330px;

 object-fit: cover;

}


/* CONTEUDO */

.conteudo-servico{

  padding: 25px;

  text-align: center;

}


/* ICONE */

.icone-servico{

  font-size: 2.5rem;

  margin-bottom: 15px;

}


/* TITULO */

.card-servico-moderno h3{

  color: #2F5D50;

  font-size: 1.8rem;

  margin-bottom: 15px;

  font-weight: bold;

}


/* TEXTO */

.card-servico-moderno p{

  color: #666;

  margin-bottom: 20px;

}


/* LISTA */

.lista-servicos{

  list-style: none;

  padding: 0;

  margin-bottom: 20px;

}


/* ITEM */

.lista-servicos li{

  margin-bottom: 10px;

  color: #555;

}


/* PREÇO */

.preco-servico{

  display: inline-block;

  background-color: #FFE7D6;

  color: #FF914D;

  padding: 10px 18px;

  border-radius: 30px;

  font-weight: bold;

  margin-bottom: 20px;

}


/* BOTÃO */

.btn-servico{

  background-color: #2F5D50;

  color: white;

  border: none;

  padding: 12px 28px;

  border-radius: 30px;

  font-weight: bold;

  transition: 0.3s;

}


/* HOVER BOTÃO */

.btn-servico:hover{

  background-color: #23463C;

  transform: scale(1.05);

}

/* ========================================= */
/* PAGINA PRODUTOS */
/* ========================================= */

/* BANNER */

.banner-produtos{

  background: linear-gradient(90deg, #2F5D50, #4E7C6F);

  padding: 80px 20px;

  text-align: center;

  color: white;

}


/* TITULO */

.banner-produtos h1{

  font-size: 3rem;

  font-weight: bold;

  margin-bottom: 20px;

  color: white;

}


/* TEXTO */

.banner-produtos p{

  font-size: 1.1rem;

  color: #F5F1E8;

}


/* AREA PRODUTOS */

.pagina-produtos{

  padding: 80px 0;

}


/* CARD */

.card-produto{

  background-color:#F8F5EF;

  border-radius: 25px;

  padding: 20px;

  text-align: center;

  box-shadow: 0 8px 20px rgba(0,0,0,0.08);

  transition: 0.3s;

  height: 100%;

}


/* HOVER */

.card-produto:hover{

  transform: translateY(-8px);

}


/* IMAGEM */

.card-produto img{

  width: 100%;

  height: 220px;

  object-fit: cover;

  border-radius: 20px;

  margin-bottom: 20px;

}


/* TITULO */

.card-produto h3{

  color: #2F5D50;

  margin-bottom: 10px;

  font-weight: bold;

}


/* TEXTO */

.card-produto p{

  color: #666;

  margin-bottom: 20px;

}


/* PREÇO */

.card-produto span{

  display: block;

  font-size: 1.3rem;

  font-weight: bold;

  color: #FF914D;

  margin-bottom: 20px;

}


/* BOTÃO */

.btn-comprar{

  background-color: #FF914D;

  color: white;

  border: none;

  padding: 12px 25px;

  border-radius: 30px;

  font-weight: bold;

  transition: 0.3s;

}


/* HOVER */

.btn-comprar:hover{

  background-color: #E67E3D;

}


/* ========================================= */
/* PAGINA PETS MELHORADA */
/* ========================================= */


/* CARD PET */

/* ========================================= */
/* BANNER PETS MODERNO */
/* ========================================= */

.banner-pets{

  /* fundo claro */
  background: linear-gradient(135deg, #F8F5EF, #F5F1E8);

  /* espaço interno */
  padding: 90px 20px;

  /* centraliza */
  text-align: center;

  /* posição relativa */
  position: relative;

  /* esconde excesso */
  overflow: hidden;

}


/* TITULO */

.banner-pets h1{

  font-size: 4rem;

  font-weight: bold;

  color: #2F5D50;

  margin-bottom: 20px;

}


/* TEXO */

.banner-pets p{

  font-size: 1.3rem;

  color: #666;

}


/* PATINHAS DECORATIVAS */

.banner-pets::before{

  content: "🐾";

  position: absolute;

  top: 30px;

  left: 60px;

  font-size: 4rem;

  opacity: 0.15;

}

.banner-pets::after{

  content: "🐾";

  position: absolute;

  bottom: 30px;

  right: 60px;

  font-size: 4rem;

  opacity: 0.15;

}


/* ========================================= */
/* AREA DOS PETS */
/* ========================================= */
.hero-pets-texto h1{

   display: flex;
   justify-content: center;
}
.hero-pets-texto h3{
 color: #2F5D50;
  display: flex;
  justify-content: center;
}
.pagina-pets{

  padding: 70px 0;

}

.hero-pets-imagem{
  display: flex;
  justify-content: center;
}


/* CARD PET */

.card-pet{

  background-color: white;

  border-radius: 30px;

  padding: 18px;

  text-align: center;

  position: relative;

  overflow: hidden;

  height: 100%;

  transition: 0.4s;

  box-shadow: 0 10px 25px rgba(0,0,0,0.08);

}


/* LINHA SUPERIOR */

.card-pet::before{

  content: "";

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 7px;

  background: linear-gradient(90deg, #FF914D, #FFD166);

}


/* HOVER */

.card-pet:hover{

  transform: translateY(-12px);

  box-shadow: 0 18px 35px rgba(0,0,0,0.15);

}


/* FOTO */

.card-pet img{

  width: 100%;

  height: 280px;

  object-fit: cover;

  border-radius: 22px;

  margin-bottom: 20px;

  transition: 0.4s;

}


/* EFEITO FOTO */

.card-pet:hover img{

  transform: scale(1.05);

}


/* TITULO */

.card-pet h3{

  font-size: 2.2rem;

  color: #2F5D50;

  margin-bottom: 10px;

  font-weight: bold;

}


/* TEXTO */

.card-pet p{

  color: #666;

  font-size: 1rem;

}


/* TAGS */

.tags-pet{

  display: flex;

  justify-content: center;

  gap: 10px;

  flex-wrap: wrap;

  margin: 20px 0;

}


/* CADA TAG */

.tags-pet span{

  background-color: #FFE7D6;

  color: #FF914D;

  padding: 8px 16px;

  border-radius: 30px;

  font-size: 0.9rem;

  font-weight: bold;

}


/* DESCRIÇÃO */

.descricao-pet{

  margin-bottom: 25px;

  line-height: 1.7;

}


/* BOTÃO */

.btn-adotar{

  background-color: #2F5D50;

  color: white;

  border: none;

  padding: 14px 35px;

  border-radius: 40px;

  font-weight: bold;

  font-size: 1rem;

  transition: 0.3s;

}


/* HOVER BOTÃO */

.btn-adotar:hover{

  background-color: #23463C;

  transform: scale(1.05);

}


/* ========================================= */
/* RESPONSIVO */
/* ========================================= */

@media(max-width:768px){

  .banner-pets h1{

    font-size: 2.7rem;

  }

  .banner-pets p{

    font-size: 1rem;

  }

  .card-pet img{

    height: 240px;

  }

}


/* BOTÃO */

.btn-adotar{

  background-color: #2F5D50;

  color: white;

  border: none;

  padding: 12px 30px;

  border-radius: 30px;

  font-weight: bold;

  transition: 0.3s;

}


/* HOVER BOTÃO */

.btn-adotar:hover{

  background-color: #23463C;

  transform: scale(1.05);

}

/* botão whatsapp */

.whatsapp-float{

  position: fixed;

  bottom: 20px;

  right: 20px;

  width: 65px;

  height: 65px;

  background-color: #25D366;

  color: white;

  border-radius: 50%;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 2rem;

  text-decoration: none;

  box-shadow: 0 5px 15px rgba(0,0,0,0.2);

  z-index: 999;

  transition: 0.3s;

}

/* hover */

.whatsapp-float:hover{

  transform: scale(1.1);

}

/* ========================================= */
/* SEÇÃO ADOÇÃO */
/* ========================================= */

.secao-adocao{

  padding: 90px 20px;

  background-color: #FFF9F3;

  text-align: center;

}


/* TITULO */

.secao-adocao h2{

  font-size: 2.8rem;

  margin-bottom: 20px;

}


/* TEXTO */

.secao-adocao p{

  max-width: 700px;

  margin: auto;

  margin-bottom: 50px;

}


/* BENEFICIOS */

.beneficios-adocao{

  display: flex;

  justify-content: center;

  gap: 30px;

  flex-wrap: wrap;

}


/* BOX */

.beneficio-box{

  background-color: white;

  width: 320px;

  padding: 35px;

  border-radius: 25px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.08);

  transition: 0.3s;

}


/* HOVER */

.beneficio-box:hover{

  transform: translateY(-10px);

}


/* EMOJI */

.beneficio-box span{

  font-size: 3rem;

  display: block;

  margin-bottom: 20px;

}

.banner-pets,
.banner-servicos,
.banner-produtos{

  position: relative;

  overflow: hidden;

}

/* ========================================= */
/* BADGE PRODUTO */
/* ========================================= */

.badge-produto{

  background-color: #FF914D;

  color: white;

  padding: 8px 14px;

  border-radius: 30px;

  display: inline-block;

  font-size: 0.8rem;

  font-weight: bold;

  margin-bottom: 15px;

}


/* ========================================= */
/* AVALIAÇÃO */
/* ========================================= */

.avaliacao-produto{

  font-size: 1.1rem;

  margin-bottom: 15px;

}


/* ========================================= */
/* PARCELAMENTO */
/* ========================================= */

.card-produto small{

  display: block;

  margin-bottom: 20px;

  color: #777;

}


/* ========================================= */
/* EFEITO IMAGEM */
/* ========================================= */

.card-produto img{

  transition: 0.4s;

}

.card-produto:hover img{

  transform: scale(1.05);

}

/* ========================================= */
/* RESPONSIVIDADE */
/* ========================================= */

@media (max-width: 768px){

  /* HERO */

  .hero-petshop{

    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    padding: 70px 20px;

  }

  /* TITULO */

  .hero-texto h1{

    font-size: 2.3rem;

  }

  /* BENEFICIOS */

  .hero-beneficios{

    justify-content: center;

  }

  /* IMAGEM */

  .hero-imagem{

    margin-top: 40px;

  }

  /* CARDS */

  .cards-servicos{

    flex-direction: column;

    align-items: center;

  }

  /* CARROSSEL */

  .carousel-item{

    height: auto;

  }

  .imagem-carrossel{

    width: 100%;

    height: 300px;

  }

  /* LEGENDA */

  .carousel-caption{

    position: static;

    margin-top: 20px;

  }

}

